/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*RESET*/
*{
    padding: 0;
    margin: 0%;
}

/*VARIÁVEIS GLOBAIS*/
:root {
    --fonte-inter: "Inter", sans-serif;
    --preto: #00030C;
    --azul-claro: #167BF7;
    --azul: #2B58DE;
    --branco: #FFFFFF;
    --cinzinha: #C0C0C0;
}

/*CONFIGURAÇÃO DO SITE*/
body {
    background-color: var(--preto);
    color: var(--branco);
    font-family: "Inter", sans-serif;
}

.apresentacao {
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-position: top, right;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.apresentacao__promocao {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6% 0%;
    height: 100vh;
}

.apresentacao__promocao__titulo {
    width: 82%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 3%;
}

.apresentacao__promocao__imagem {
    width: 48%;
    padding-bottom: 3.375rem;
}

.apresentacao__promocao__opcao1 {
    text-decoration: none;
    background-color: var(--azul-claro);
    padding: 1rem 24.5%;
    border-radius: 8px;
    color: var(--branco);
    margin-bottom: 2%;
}

.apresentacao__promocao__opcao1:hover {
    background-color: var(--azul);
    padding: 1rem 26%;
}

.apresentacao__promocao__opcao2 {
    text-decoration: none;
    padding: 1rem 26.5%;
    border: 1px solid var(--branco);
    border-radius: 8px;
    color: var(--branco);
    text-align: center;
    margin-bottom: 1.25%;
}

.apresentacao__promocao__opcao2:hover {
    background-color: var(--cinzinha);
    color: var(--preto);
    padding: 1rem 28%;
}

.apresentacao__promocao__texto {
    color: var(--cinzinha);
    font-size: 0.75rem;
}

.apresentacao__plataformas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 100vh;
}

.texto-plataformas {
    width: 40%;
}

.apresentacao__plataformas__titulo {
    font-size: 3rem;
    font-weight: 700;
}

.apresentacao__plataformas__texto {
    font-size: 1rem;
    font-weight: 400;
}

.apresentacao__combo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100vh;
}

.combo-texto {
    width: 36%;
}

.apresentacao__combo__texto {
    padding-bottom: 10%;
    font-size: 1rem;
    font-weight: 400;
}

.apresentacao__combo__link {
    background-color: var(--azul-claro);
    padding: 1rem; 
    border-radius: 8px;
    text-decoration: none;
    color: var(--branco);
}

.apresentacao__combo__link:hover {
    background-color: var(--azul);
}

.apresentacao__baixe_cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5%;
    height: 100vh;
}

.baixe_cursos-texto {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.apresentacao__baixe_cursos__titulo {
    font-size: 3rem;
    font-weight: 700;
}

.apresentacao__dispositivos {
    height: 80vh;
    margin-top: 250px;
}

.apresentacao__dispositivos__titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.dispositivos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8.75rem;
}

.tv, .celular, .pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__logo {
    margin-bottom: 2.5rem;
}

.rodape-conteudo {
    width: 75rem;
    display: flex;
    flex-direction: column;
    
}

.rodape__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.rodape__links__opcao {
    text-decoration: none;
    color: var(--branco);
}

.rodape__links__opcao:hover {
    color: var(--azul-claro);
}

.rodape__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--cinzinha);
    margin-bottom: 3rem;
}